:root {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  /* line-height: 24px; */
  font-weight: 400;

  --white: #FFFFFF;
  --black: #000000;
  --gray-100: #A9A9A9;

  background-color: var(--white);
  color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 932px;
  height: 100vh;
  margin: 0;
  padding: 0;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#app {
  padding: 12px;
}

@media (max-width: 800px) {
  #app {
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
